@import "../../index.css";
* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.scoreContain {
  background-color: rgba(256, 256, 256, 0.42);
  width: 100%;
  height: 80px;
  border-radius: 15px;
  position: relative;
  color: var(--darkestColor);
  box-shadow: 0px 2px 2px #70707063;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: space-between;
}

.scoreContain .left {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
  color: var(--darkestColor);
  margin-left: 20px;
}
.scoreContain .left .examID {
  font-size: 12px;
  margin-top: 10px;
}

.scoreContain .left .title {
  font-size: 20px;
  margin-top: 10px;
}

.scoreContain .right {
  width: 10%;
  height: 100%;
  align-items: center;
  margin-top: 20px;
}
.scoreContain .right ._score,
._score.good,
._score.bad {
  font-size: 30px;
  font-weight: bold;
}

.scoreContain .right ._score.good {
  color: var(--wellHighlight);
}
.scoreContain .right ._score.bad {
  color: var(--warningHighlight);
}
.scoreContain .right ._score {
  color: var(--warningBGColor);
}
